.section--numbers {


        background-color: #5e72e4;
}


.section__descriptionAndNumbers {
        display: flex;
        text-align: center;
}

.section__description--number {
        font-size: 36px;
        color: #fff;
        font-weight: 500;
        padding: 17px 0;

}

.section__description--numberStart {
        font-size: 36px;
        color: #172b4d;
        font-weight: 500;
        padding: 17px 0;

}

.tile--feature__AddcolorWhite {
        color: #fff;

}

.section__content--numbers_content {
        margin: 0px auto;
        padding: 0;
}